<%= javascript_include_tag "admin/forms" %>
<% form_for :admin, :url => {:action => "create"}, :html => {:onsubmit => "onSubmitLogin(this);return false;"} do |form| %>
  <div class="query_title">&nbsp;</div>
  <div class="float_left query_label">用户名</div>
  <div class="query_text">
    &nbsp;&nbsp;<%= form.text_field :username %>
    <span id="admin_username_error" class="error" style="display:none;">请输入用户名</span>
  </div>
  <div class="float_left query_label">密码</div>
  <div class="query_text">
    &nbsp;&nbsp;<%= form.password_field :password %>
    <span id="admin_password_error" class="error" style="display:none;">请输入密码</span>
  </div>
  <div class="float_left query_label">&nbsp;</div>
  <div class="query_text query_submit">&nbsp;&nbsp;
    <%= form.submit "登录" %>&nbsp;&nbsp;
  </div>
<% end %>